.caixa-login {
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    width: 400px;
    height: 300px;
    margin: 0px auto;
    border-radius: 5px;
    padding: 30px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute
    
}

.titulo-login {
    margin-top: -20px;
}

#email, #senha {
    width: 200px;
    padding: 5px;
    border: none;
    background-color: #0000;
    border-bottom: 1px solid black;
}

.campo {
    margin-top: 20px;
    margin-bottom: 20px;
    color: aliceblue;
}


.campo label {
    display: block;
}

.enviar {
    margin-bottom: 10px;
    padding-left: 6px;
}

.botao:hover{

    background-color: #6290a7;
    color: #fff;
    transition-duration: 0.5s;
    cursor: pointer;
}

.botao {
    margin-top: 20px;
    width: 100%;
    height: 30px;
    background-color: #5a7f92;
    border: white;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
    padding-right: 10px;
    margin-bottom: 15px;
}

.login_reset {
    font-size: 12px bold;
    color:#5a7f92;
    text-decoration: none;
    padding: 50px;
}

body {
    background-color:  #607c8c;
}
